.menuTitle {
  width: 100%;
  text-align: left;
  font-weight: 600;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  transition: all 0.2s;
}

.menuTitle:hover {
  background-color: #581313; /* tương đương hover:bg-red-900 */
}

/* submenu wrapper */
.subMenu {
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 0.875rem;
}

.subMenuItem {
    font-size: large;
} 
.subMenu li + li {
  margin-top: 1rem;
}

.subMenuItem {
  display: block;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  transition: all 0.2s;
  text-decoration: none;
  color: inherit;
}

.subMenuItem:hover {
  background-color: #581313; /* bg-red-600 */
  color: white;
}

.sidebar {
  width: 24rem; /* w-96 */
  background-color: #993333;
  color: white;
  height: 100vh;
  padding: 1rem;
  position: fixed;
}

.sidebarHeading {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.nav {
  font-size: 1.25rem;
}

.nav > div + div {
  margin-top: 1rem;
}
